$border-radius: .3rem;
$box-shadow:2px 2px 1px 1px #000000b6;

//Colors
$black: #000000;
$grey: #181818;
$light-grey: #242424;
$white: #fff;
$opaque-white: #ffffff73;
$dark-blue: #2929df;
$light-blue: #068FFF;
$opaque-dark-blue: #2929df9a;
$red: #700000;
$light-red: #ff0000;

/* Tipografía */
$principal-font: 'Open Sans',
sans-serif;
$secondary-font: 'Rajdhani',
sans-serif;